<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>@重邮学子 | 这天别约我！我与校长有约在先了！你要一起吗？</title>
    <link rel="stylesheet" href="/trainee/static/less/index.css">
    <script src="/trainee/static/js/flexble.js"></script>
  </head>
    <body>
      <div id="index-container">
      <div class="content">
        <div>
          <p>
            <span class="left">活动主题：</span> 
            <span class="right">当代大学生应追求什么样的核心素养之运动与健康</span>
          </p>
          <p>
              <span class="left">活动地点：</span>
               <span class="right">团委会议室</span></p>
               <p><span class="left">主办单位：</span> <span class="right">学生处、团委</span></p>
               <p><span class="left">活动时间：</span> <span class="right">12月15日（周四）下午14：00</span>
               </p></div>
               </div>
               <button class="sign-up">马上报名</button> 
               <button class="descript">活动介绍</button>
               </div>
               <script src="/trainee/static/js/zepto.js"></script>
               <script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
               <script>
                  $('.sign-up')
                  .on('click', function(){
                    window.location.href = "/trainee/home/Index/commit"
                  })
                  $('.descript')
                  .on('click', function(){
                    window.location.href = "/trainee/home/Index/detail"
                  })




 var TITLE = '@重邮学子 | 这天别约我！我与校长有约在先了！你要一起吗？';
 var DESC = '@重邮学子 | 这天别约我！我与校长有约在先了！你要一起吗？';
 var LINK = 'http://mp.weixin.qq.com/s/kLWX75xYp56S30GpxemAxA';
 var IMGURL = 'https://redrock.cqupt.edu.cn/trainee/static/home.jpg';
 var appId = "wx81a4a4b77ec98ff4";
  wx.config({
        debug: false,
        appId: "wx81a4a4b77ec98ff4",
        timestamp: "<%= conf.timeStamp%>",
        nonceStr: "<%= conf.str%>",
        signature: "<%= conf.signature%>",
        jsApiList: [
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
            'onMenuShareQQ',
            'onMenuShareWeibo',
            'onMenuShareQZone'
        ]
    });
    wx.ready(function () {
      wx.onMenuShareTimeline({
            title: DESC,
            link: LINK,
            imgUrl: IMGURL,
            success: function () {
            },
            cancel: function () {
            }
        });
        wx.onMenuShareAppMessage({
            title: TITLE,
            desc: DESC,
            link: LINK,
            imgUrl: IMGURL,
            type: '',
            success: function () {
            },
            cancel: function () {
            }
        });
        wx.onMenuShareQQ({
            title: TITLE,
            desc: DESC,
            link: LINK,
            imgUrl: IMGURL,
            success: function () {
            },
            cancel: function () {
            }
        });
        wx.onMenuShareWeibo({
            title: TITLE,
            desc: DESC,
            link: LINK,
            imgUrl: IMGURL,
            success: function () {
            },
            cancel: function () {
            }
        });
        wx.onMenuShareQZone({
            title: TITLE,
            desc: DESC,
            link: LINK,
            imgUrl: IMGURL,
            success: function () {
            },
            cancel: function () {
            }
        });
    });
    wx.error(function(res){
    })
               </script>
               </body>
               </html>