<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>活动详情</title>
    <link rel="stylesheet" href="/trainee/static/less/index.css">
    <script src="/trainee/static/js/flexble.js"></script>
  </head>
    <body>
      <div id="index-container">
      <div class="content">
        <div>
          <p>
            <span class="left">活动主题：</span> 
            <span class="right">当代大学生应追求什么样的核心素养之运动与健康</span>
          </p>
          <p>
              <span class="left">活动地点：</span>
               <span class="right">团委会议室</span></p>
               <p><span class="left">主办单位：</span> <span class="right">学生处、团委</span></p>
               <p><span class="left">活动时间：</span> <span class="right">下周四或周五下午</span>
               </p></div>
               </div>
               <button class="sign-up">马上报名</button> 
               <button class="descript">活动介绍</button>
               </div>
               <script src="/trainee/static/js/zepto.js"></script>
               <script>
                  $('.sign-up')
                  .on('click', function(){
                    window.location.href = "/trainee/home/Index/commit"
                  })
                  $('.descript')
                  .on('click', function(){
                    window.location.href = "/trainee/home/Index/detail"
                  })
               </script>
               </body>
               </html>