<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>@重邮学子 | 这天别约我！我与校长有约在先了！你要一起吗？</title>
  <link rel="stylesheet" href="/trainee/static/less/index.css">
  <script src="/trainee/static/js/flexble.js"></script>
</head>
<body>
  <div id="detail-container">
    <div class="info-con">
      <h1>活动详情</h1>
      <p>为进一步搭建校长与青年大学生代表共话大学生核心素养交流平台，倾听青年学生成长发展心声，培育大学生核心素养，提升大学生核心竞争力，服务学生健康成长成才。校党委学生工作部/学生工作处、团委特举办“与校长有约”活动。</br>
 “与校长有约”以“当代大学生应追求什么样的核心素养”为主题。由校长每学期邀请一次青年学生代表共话大学生核心素养，在轻松氛围中进行面对面交流。</br>“与校长有约”活动内容提前在“重邮小帮手”微信公众号上发布，学生通过“重邮小帮手”报名参加。</p>
    </div>
  </div>
</body>
</html>